<h2 class="text-2xl font-bold mb-6 text-center">All Quiz Feedback</h2>

<% @quizzes.each do |quiz| %>
  <h2 class="text-xl font-semibold mb-4 flex items-center justify-between">
    <span><%= quiz.title %></span>
    <%= link_to "Take This Quiz", do_quiz_quiz_path(quiz), class: "btn-sm" %>
  </h2>
  
  <% if quiz.user_scores.any?(&:user_feedback?) %>
    <div class="relative overflow-x-auto mb-6">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">User</th>
            <th scope="col" class="px-6 py-3">Feedback</th>
            <th scope="col" class="px-6 py-3">Score</th>
            <th scope="col" class="px-6 py-3">Submitted At</th>
          </tr>
        </thead>
        <tbody>
          <% quiz.user_scores.select(&:user_feedback?).each do |user_score| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= user_score.user.email %></td>
              <td class="px-6 py-4"><%= user_score.user_feedback %></td>
              <td class="px-6 py-4"><%= user_score.score %></td>
              <td class="px-6 py-4"><%= user_score.created_at.strftime("%d/%m/%Y") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p class="text-gray-600 dark:text-gray-400">No feedback yet. You can be first!</p>
  <% end %>

  <hr class="my-8 border-gray-200 dark:border-gray-700">
<% end %>