<% if user_signed_in? %>
  <%= form_with(url: quizzes_path, method: :get, local: true, html: { class: 'search-form' }) do |f| %>
    <div class="flex justify-end py-5">
      <div class="mr-3">
        <%= f.label :q_description_cont, 'Search in Description', class: 'block text-sm font-medium text-gray-900' %>
        <%= f.text_field :q_description_cont, name: 'q[description_cont]', class: 'mt-1 block rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm' %>
      </div>
      <div class="flex flex-col justify-end space-x-4">
        <%= f.submit 'Search', class: 'btn-md' %>
      </div>
    </div>
  <% end %>
<% end %>
<div id="quizzes">
  <div class="overflow-x-auto rounded-lg border border-gray-200">
    <table id="quizzes" class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
      <thead class="text-left">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">ID</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Nosaukums</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Apraksts</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Izveidots</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <%= render partial: 'quiz_row', collection: @quizzes, as: :quiz %>
      </tbody>
    </table>
  </div>
</div>
<% if user_signed_in? %>
  <div class="mt-10">
    <%= link_to "New quiz", new_quiz_path, class: "btn-md" %>
  </div>
<% end %>