<h1>Your Score: <%= @score %>%</h1>

<%= form_with model: @user_score, url: submit_feedback_quiz_path(@quiz), method: :put, local: true do |form| %>
  <div class="field">
    <%= form.label :user_feedback, "Please provide your feedback" %><br>
    <%= form.text_area :user_feedback, rows: 4 %>
  </div>

  <div class="actions">
    <%= form.submit "Submit Feedback" %>
  </div>
<% end %>

<%= link_to 'Back to Quizzes', quizzes_path %>